html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../images/pattern.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.header{
    position: relative;
    justify-content: space-between;
    height: auto;
    background-color: rgb(54, 145, 145);

}

.wsquare{
    border-radius: 10px;
    box-shadow: -2px 3px 18px 1px black;
    padding-top: 0.5em;
}

@media(max-width:820px){
    .header{
        width:100%;
    }
}

.title{
    margin: 0.5em;
    margin-left: 1.5em;
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    color: rgb(130, 238, 188);
    font-family: 'Source Sans Pro', sans-serif;
}

.title:hover{
    cursor: pointer;
}


#menubar{
    float: right;
    display: flex;
}

.menubutton{
    float: right;
    width: 5em;
    margin-top: 1.35em;
}

.options{
    border: 1px;
    cursor: pointer;
    height: 3.2em;
    display: none;
    background-color: inherit;
}


.bar{
    width: 3em;
    margin-top: 0.3em;
    border-radius: 20px;
    height: 0.4em;
    background-color: white;
}


#menubar .item{
    padding-top: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.5em;
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

a {color:inherit;}

#menubar .item::after{
    border-bottom: 3px solid rgb(4, 248, 236);
    content: '';
    display: block;
    width: 0;
    transition: .5s;
}

#menubar .item:hover{
    cursor: pointer;
}

#menubar .item:hover::after{
    width:100%;

}

.display-on{
    display:flex !important;
    transition: all 1s ease-in;
}
.display-off{
    display:none;
}

@media(max-width: 851px){


    .menubutton{
        height: 100%;
        opacity: 1;
        z-index: 0;
    }
    .menubutton:hover{
        background-color: transparent;
    }
    .header #menubar{
        background-color: rgb(47, 161, 150);
        display: none;
        float: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        z-index: 1;
        padding-right: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .header #menubar .item{
        width: 3em;
    }

    .options{
        display: inline-block;
    }

    #menubar .item::after{
        content:unset;
    }

    .footer .title{
        text-align: center;
    }

    .footer .item{
        margin-right: 1em;
    }

    .display-on{
        display: block;
        top: -1000px;
    }
}

.first-pickup .wsquare{

    background-color: white;
    position: relative;
    width: 80em;
    height: 30em;
    bottom: -5em;
    margin: auto;
}

.our-services .wsquare{

    background-color: white;
    position: relative;
    width: 80em;
    height: 35em;
    margin: auto;
    margin-top: 12.75em;
}

.whyus .wsquare{

    background-color: white;
    position: relative;
    width: 80em;
    height: 40em;
    margin: auto;
    margin-top: 9.75em;
    margin-bottom: 5em;
}

.intro-text{
    width:50%;
    display: inline-block;
}

.save3hrs{
    font-family: 'Montserrat', sans-serif;
    padding-left: 1.25em;
    font-size: 1.5em;
}

.cleanapp-does{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-left: 1em;
    margin-top: -0.15em;
}

.laundry-image{
    position: relative;
    float: right;
    width: 45%;
    margin-right: 3em;
    margin-top: -1em;
}

.first-pickup .signup{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-left: 1.65em;
    margin-top: 3em;
    width: 30%;
    height: 10%;
    font-size: 20px;
    background-color: rgb(54, 145, 145);
    color: white;
    font-family: 'Raleway', sans-serif;
}
@media (max-width: 1295px){

    .our-services .wsquare{
        width: 60em;
    }
    .first-pickup .wsquare{
        width: 60em;
    }
    .whyus .wsquare{
        width: 60em;
        height: 48em;
        padding-right: 1em;
    }

    .laundry-image{
        margin-top: 0em;
    }

    .first-pickup .signup{
        width: 40%;
        height: 10%;
    }

}
@media (max-width: 990px){

    .intro-text{
        width:100%;
        display: inline-block;
    }
    .our-services .wsquare{
        width: 40em;
        height: 50em;
    }
    .first-pickup .wsquare{
        width: 40em;
        height: 41em;
    }
    .whyus .wsquare{
        width: 40em;
        height: 65em;
    }
    .laundry-image{
        display: flex;
        width: 85%;
    }

    .first-pickup .signup{
        margin-left: 8em;
        width: 50%;
        height: 7%;
    }

    .image-to-button{
        height: 45%;
    }

}

.carousel{
    display: flex;
    border: 1px;
    overflow: hidden;
}

.ctext{
    padding-left: 2.65em;
    font-family: 'Montserrat', sans-serif;
}

.cpar{
    font-family: 'Raleway', sans-serif;
    padding-left: 2.5em;
    font-size: 25px;
}

.carousel-service{
    min-width: 95%;
    height: 30em;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.carousel > button{
    position: absolute;
    padding-top: 3em;
    z-index: 1;
}

.carousel > button:first-of-type{
    left: 0;
}

.carousel > button:nth-of-type(2){
    right: 0;
}

.service-box{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.im-1{
    position: relative;
    float: right;
    margin-top: -2em;
    margin-left: 1em;
    width: 35%;
}

.im-shoes{
    height:40%;
}

.im-wdif{
    width: 16em;
    height: 16em;
    padding-right: 4em;
}

.lr-button{
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    outline:none;
    cursor:pointer;
    overflow:hidden;
    font-size: 2em;
}

#rightBtn{
    margin-left: 2em;
}


@media (max-width: 1295px){
    .im-wdif{
        width: 21vw;
        height: 21vw;
    }
}

@media (max-width: 990px){
    .service-box{
        font-size: 40px;
    }
    .ctext{
        margin-bottom: 2em;
    }
    .s1{
        padding-left: 9.5em;
    }
    .s2{
        padding-left: 8.75em;
    }
    .s3{
        padding-left: 8.75em;
    }
    .s4{
        padding-left: 6em;
    }
    .s5{
        padding-left: 11.5em;
    }

    .carousel-service{
        height: 40em;
    }

    .carousel > button{
        padding-top: 7em;
    }

    .im-1{
        width: 30em;
        height: 25em;
        padding-right: 2.75em;
        margin-bottom: 1.5em;
    }

    .im-shoes{
        height:45%;
        padding-left: 1.5em;
    }
}


.reasontext{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 1em;
}

@media (max-width:990px){
    .whyus .service-box{
        padding-left: 1em;
    }
}


.footer{
    display: flex;
    position: relative;
    width: 100%;
    height: 10em;
    background-color: rgb(54, 145, 145);
}

.footer #menubar{
    padding-top: 2.5em;
    margin-left: -14em;
}

.footer .item{
    display: inline-block;
}



/* dashboard, comenzi */
.main-content::after{
    content:"";
    background: url('https://cdn.discordapp.com/attachments/829781645396803634/829797995607359518/pattern.png');
    overflow: hidden;
    opacity:0.3;
    top:0;
    bottom: -0%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.content{
    width:90vw;
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-top:3em;
    border:solid 1px #a0a0a0;
    background: #ffffff;
    box-shadow: 0px 2px 11px 5px rgb(0 0 0 / 20%);
}
.req-list{
    font-size: 0.9em;
    margin-top:1em;
    padding: 0.5em;
}
/* end dashboard */

/* comenzi */
.content-info{
    width: 40vw;
    min-width: 30em;
    background: #ffffff;
    padding: 2em;
    font-size: 1.2em;
    border: solid 1px #a0a0a0;
    border-radius: 5px;
    box-shadow: 0px 2px 11px 5px rgb(0 0 0 / 20%);
    left: 10%;
    position: absolute;
    margin-top: 4em;
}
.req-header {
    padding: 1em;
    font-size: 1.1em;
    display: block;
}
.add-req{
    float: right;
    color: #b0b0b0;
    cursor: pointer;
}
.add-req:hover{
    color: #369191;
}
.req-title{
    width: auto;
    /* float: left; */
    display: inline-block;
    line-height: 2.2em;
}
.reqs{
    clear: both;
    height: auto;
    padding: 1em;
}
.no-results{
    width: 100%;
    margin: auto;
    padding: 1.4em;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 20em;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 40%);
}
.modal-request{
    width: 60%;
    min-width:30em;
}
.close-req {
    color: #5d5e65;
    float: right;
    font-size: 1.3em;
}

.close-req:hover,
.close-req:focus {
    color: #ec1b2f;
    text-decoration: none;
    cursor: pointer;
}
.req-form{
    width: auto;
    display: block;
    padding: 1em;
    margin-top: 3em;
    border-top:solid 1px #b0b0b0;
}
input, .req-select{
    font-size: 1.0em;
    padding: 0.3em 0.6em;
}
.req-select:focus,.req-select:active{
    border: solid 1px #004ba7;
    box-shadow: 0px 0px 10px 2px rgb(0 109 243 / 25%);
}
.req-date{
    font-size: 1.3em;
}
/* pentru a evita border-ul negru pe elementele de text si select-uri in chrome */
.req-select:focus,.req-select:focus-visible, .req-select:active,
.req-select:focus:not(:focus-visible) {
    outline: none;
}

.req-nr{
    font-size: 1.4em;
    font-weight: bold;
}

.req-article-header{
    width:80%;
    margin: auto;
    margin-top: 4em;
}

.req-article-title{
    display: inline-block;
    line-height: 2.2em;
}
.req-article-list{
    width: 80%;
    display: block;
    padding: 1em;
    margin:auto;
    margin-top: 1em;
    border-top:solid 1px #b0b0b0;
}

.modal-article {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
}

.article {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    min-width:20em;
    min-height: 9em;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 40%);
}

.article-row{
    display: block;
    padding: 0.3em;
}

.article-col-1{
    display: inline-block;
    width:35%;
    padding:0.1em;
    text-align: right;
}
.article-col-2{
    display: inline-block;
    width:59%;
    padding:0.1em;
    text-align: left;
}

.table1{
    border-collapse: collapse;
    width:100%;
}

.table1 tr td {
    padding: 0.3em;
    border:solid 1px #b0b0b0;
    text-align: center;
}
.table1 tr:nth-child(odd) td {
    background-color: #f4f4f4;
}

.table1 tr:hover td {
    background-color: #DCECEC;
}

.btn-edit, .btn-delete{
    cursor: pointer;
    font-size:1.1em;
    color: #54545b;
}
.btn-edit:hover, .btn-delete:hover{
    color: #286c6c;
}

.btn-delete{
    margin-left:1em;
}

.loading {
    margin: auto;
    padding: 2em;
    width: 10em;
    background: url('../images/ajax-loader-green.gif') 50% 50% no-repeat;
}

/* end comenzi */



/* alert message */
.alert-message {
    position: fixed;
    display: block;
    top:1em;
    right: -33em;
    width: 30em;
    border:solid 1px #b0b0b0;
    border-left: solid 5px #004ba7;
    border-radius: 3px;
    box-shadow: 0px 0px 18px 2px rgb(0 0 0 / 30%);
    padding: 1em;
    background-color: #ffffff;
    transition: right ease-in-out 0.4s;
    z-index: 500;
}
/* end alert message */


/* comenzi operator */

.not_allowed {
    font-size: 1.3em;
    margin: auto;
    padding: 3em;
    text-align: center;
}
.not_allowed span {
    cursor: pointer;
    color: #063971;
}
/* end comenzi operator */