body  
{  
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: visible;
    padding:0;
}  

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.background{
    position: inherit;  
    width: 100%;
    height: 100%;
    background-image: url(images/pattern.png);
    background-size: cover;
    background-position: center;
}

.header{
    position: relative;
    justify-content: space-between;
    height: auto;
    background-color: rgb(54, 145, 145);

}
.titleH{
    display: flex;
    margin: 0.5em;
    margin-left: 1.5em;
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    color: rgb(130, 238, 188);
    font-family: 'Source Sans Pro', sans-serif;
}
.titleH:hover{
    cursor: pointer;
}


.menubar{
    position: relative;
    float: right;
    display: flex;
}

.menubutton{
    display: flex;
    float: right;
    width: 5em;
    height: 3em;
    margin-top: 1em;
    color: #292932;
    
}

.options{
    border: 1px;
    cursor: pointer;
    height: 3.2em;
    display: none;
    align-self: flex-end; 
    background-color: inherit;
}

.options:hover{
    border-radius: 10px;
}

.bar{
    width: 3em;
    margin-top: 0.3em;
    border-radius: 20px;
    height: 0.4em;
    background-color: white;
}
.menubar .item{
    box-sizing: border-box;
    padding-top: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

a {color:inherit;}

.menubar .item::after{
    border-bottom: 3px solid rgb(4, 248, 236);
    content: '';
    display: block;
    width: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.menubar .item:hover{
    cursor: pointer;
}

.menubar .item:hover::after{
    width:100%;
    left: 0;
}

.title{  
    text-align: center;  
    padding: 3%;
}  
.title2{
    background-color: whitesmoke;
    padding: 1em;
}
.subscription-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 5em;
    flex-wrap: wrap;
}
.subscription-option{
    background: gray;
    border-radius: 3em;
}
.sub-button{
    margin-left: 3em;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 3em;
    background-color: white;
}
.sub-button:hover{
    background-color: teal;
    cursor:pointer;
    color:white;
}
.motivation{
    margin-top:5em;
}
.motivation-inc{
    color: darkmagenta;
}
.openinghours {
    font-family:Lucida Console;
    border-radius:1.5em;
    margin:2em;
    box-shadow: 0 0 10px black;
    padding: 2em;
    overflow: hidden;
    display: inline-block;
    background: grey;
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin-top:.33em;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
}

.opening-hours-table tr td {
    padding:5px;
}

.contact-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 10em;
    flex-wrap: wrap;
    padding-bottom: 10%;

}
.contact{
    font-family:Lucida Console;
    border-radius:1.5em;
    margin:2em;
    box-shadow: 0 0 10px black;
    padding: 2em;
    background: grey;
    margin-bottom: 2em;
}   
.footer{
    display: flex;
    position: relative;
    width: 100%;
    height: 9em;
    background-color: rgb(54, 145, 145);
}

.footer .menubar{
    padding-top: 2.5em;
    margin-left: -14em;
}

.footer .item{
    display: inline-block;
}


@media only screen and (max-width: 600px){
    .login{
        align-content: center;
    }
    #Username{
        margin-left: 0.75em;
    }
    #Password{
        margin-left: 0.75em;
    }
    label{
        margin-left: 0.75em;
    }
    #check{
        margin-left: 0;
    }
    #log{
        margin-left: 0.75em;
    }
    body::after{
        bottom: -50em;
    }
    .subscription-option{
        margin: 2em;
    }
}

