html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(images/pattern.png);
    background-size: cover;
    background-position: center;
}


.header{
    position: relative;
    justify-content: space-between;
    height: auto;
    background-color: rgb(54, 145, 145);

}

.wsquare{
    border-radius: 10px;
    box-shadow: -2px 3px 18px 1px black;
    padding-top: 0.5em;
    overflow: auto;
}

@media(max-width:820px){
    .header{
        width:100%;
    }
}

.title{
    margin: 0.5em;
    margin-left: 1.5em;
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    color: rgb(130, 238, 188);
    font-family: 'Source Sans Pro', sans-serif;
}

.title:hover{
    cursor: pointer;
}


#menubar{
    float: right;
    display: flex;
}

.menubutton{
    float: right;
    width: 5em;
    margin-top: 1.35em;
}

.options{
    border: 1px;
    cursor: pointer;
    height: 3.2em;
    display: none;
    background-color: inherit;
}


.bar{
    width: 3em;
    margin-top: 0.3em;
    border-radius: 20px;
    height: 0.4em;
    background-color: white;
}


#menubar .item{
    padding-top: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1.5em;
    margin-bottom: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

a {color:inherit;}

#menubar .item::after{
    border-bottom: 3px solid rgb(4, 248, 236);
    content: '';
    display: block;
    width: 0;
    transition: .5s;
}

#menubar .item:hover{
    cursor: pointer;
}

#menubar .item:hover::after{
    width:100%;

}

.display-on{
    display:flex !important;
    transition: all 1s ease-in;
}
.display-off{
    display:none;
}

@media(max-width: 851px){
     
    
    .menubutton{
        height: 100%;
        opacity: 1;
        z-index: 0;
    }
    .menubutton:hover{
        background-color: transparent;
    }
    .header #menubar{
        background-color: rgb(47, 161, 150);
        display: none;
        float: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        z-index: 1;
        padding-right: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .header #menubar .item{
        width: 3em;
    }
    
    .options{
        display: inline-block;
    }

    #menubar .item::after{
        content:unset;
    }

    .footer .title{
        text-align: center;
    }
    
    .footer .item{
        margin-right: 1em;
    }

    .display-on{
        display: block;
        top: -1000px;
    }
}

.first-pickup .wsquare{
    
    background-color: white;
    position: relative;
    width: 80em;
    height: 30em;
    bottom: -5em;
    margin: auto;
}

.our-services .wsquare{
    
    background-color: white;
    position: relative;
    width: 80em;
    height: 35em;
    margin: auto;
    margin-top: 12.75em;
}

.whyus .wsquare{
    
    background-color: white;
    position: relative;
    width: 80em;
    height: 40em;
    margin: auto;
    margin-top: 9.75em;
    margin-bottom: 5em;
}

.intro-text{
        width:50%;
        display: inline-block;
    }

.save3hrs{
    font-family: 'Montserrat', sans-serif;
    padding-left: 1.25em;
    font-size: 1.5em;
}

.cleanapp-does{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-left: 1em;
    margin-top: -0.15em;
}

.laundry-image{
    position: relative;
    float: right;
    width: 45%;
    margin-right: 3em;
    margin-top: -1em;
}

.first-pickup .signup{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-left: 1.65em;
    margin-top: 3em;
    width: 30%;
    height: 10%;
    font-size: 20px;
    background-color: rgb(54, 145, 145);
    color: white;
    font-family: 'Raleway', sans-serif;
}
@media (max-width: 1295px){
    
    .our-services .wsquare{
        width: 60em;
    }
    .first-pickup .wsquare{
        width: 60em;
    }
    .whyus .wsquare{
        width: 60em;
        height: 48em;
        padding-right: 1em;
    }

    .laundry-image{
        margin-top: 0em;
    }

    .first-pickup .signup{
        width: 40%;
        height: 10%;
    }
    
}
@media (max-width: 990px){
    
    .intro-text{
        width:100%;
        display: inline-block;
    }
    .our-services .wsquare{
        width: 40em;
        height: 50em;
    }
    .first-pickup .wsquare{
        width: 40em;
        height: 41em;
    }
    .whyus .wsquare{
        width: 40em;
        height: 65em;
    }
    .laundry-image{
        display: flex;
        width: 85%;
    }

    .first-pickup .signup{
        margin-left: 8em;
        width: 50%;
        height: 7%;
    }

    .image-to-button{
        height: 45%;
    }

}

.carousel{
    display: flex;
    border: 1px;
    overflow: hidden;
}

.ctext{
    padding-left: 2.65em;
    font-family: 'Montserrat', sans-serif;
}

.cpar{
    font-family: 'Raleway', sans-serif;
    padding-left: 2.5em;
    font-size: 25px;
}

.carousel-service{
    min-width: 95%;
    height: 30em;
    text-align: left;
    transition: transform 0.5s ease-in-out;
}

.carousel > button{
    position: absolute;
    padding-top: 3em;
    z-index: 1;
}

.carousel > button:first-of-type{
    left: 0;
}

.carousel > button:nth-of-type(2){
    right: 0;
}

.service-box{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.im-1{
    position: relative;
    float: right;
    margin-top: -2em;
    margin-left: 1em;
    width: 35%;
}

.im-shoes{
    height:40%;
}

.im-wdif{
    width: 16em;
    height: 16em;
    padding-right: 4em;
}

.lr-button{
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    outline:none;
    cursor:pointer;
    overflow:hidden;
    font-size: 2em;
}

#rightBtn{
    margin-left: 2em;
}


@media (max-width: 1295px){
.im-wdif{
    width: 21vw;
    height: 21vw;
}
}

@media (max-width: 990px){
    .service-box{
        font-size: 40px;
    }
    .ctext{
        margin-bottom: 2em;
    }
    .s1{
        padding-left: 9.5em;
    }
    .s2{
        padding-left: 8.75em;
    }
    .s3{
        padding-left: 8.75em;
    }
    .s4{
        padding-left: 6em;
    }
    .s5{
        padding-left: 11.5em;
    }
    
    .carousel-service{
        height: 40em;
    }

    .carousel > button{
        padding-top: 7em;
    }

    .im-1{
        width: 30em;
        height: 25em;
        padding-right: 2.75em;
        margin-bottom: 1.5em;
    }

    .im-shoes{
        height:45%;
        padding-left: 1.5em;
    }
}


.reasontext{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 1em;
}

@media (max-width:990px){
    .whyus .service-box{
        padding-left: 1em;
    }
}


.footer{
    display: flex;
    position: relative;
    width: 100%;
    height: 10em;
    background-color: rgb(54, 145, 145);
}

.footer #menubar{
    padding-top: 2.5em;
    margin-left: -14em;
}

.footer .item{
    display: inline-block;
}

